<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDoApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.html')%>
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold"><%=post._id%>번 할일 수정페이지</h1>
          <!-- <form action="/update" method="post"> -->
            <div class="mb-3">
              <label for="title" class="form-label">할일</label>
              <input type="text" class="form-control" id="title" name="title" value="<%=post.title%>">
            </div>
            <div class="mb-3">
              <label for="date" class="form-label">마감일</label>
              <input type="date" class="form-control" id="date" name="date" value="<%=post.date%>">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3 update">할일수정</button>
            </div>
          <!-- </form> -->
      </div>
      <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
          $(document).ready(function(){
            $('button.update').click(function(){
              var _id = '<%=post._id%>';
              var title = $('input[name="title"]').val();
              var date = $('input[name="date"]').val();
              //alert('id:'+ _id+ 'title:'+ title+ 'date:'+ date);
              $.ajax({
                method:'PUT',
                url: '/update',
                //data: '_id=' + _id + '&title=' + '&date=' + date
                data : {_id:_id, title:title, date:date},
                success :function(result){
                  alert(result.msg);
                  location.href = '/detail/' + _id; //수정 성공시 msg경고창 루 상세보기로
                },
              });
            });
          });
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>